.TextTrackInfo{
    font-size: 1rem;
    word-wrap: break-word;
}

.DivDropDownPays{
    width: 20%;
    margin-top: 2vh;
}

.InputCity {
    width: 20%;
    margin-top: 2vh;
}

.DivCenterTop{
    width: 20%;
    position: fixed;
    z-index: 999; 
    left: 50%; 
    top: 1%; 
    transform: translate(-50%, 0%);
    text-align: center;
}

.DivMapGroupDropDown{
    width: 20%;
    position: fixed;
    z-index: 999; 
    left: 50%; 
    top: 1%; 
    transform: translate(-50%, 0%);
}


/* Drop Down */
.MapGroupDropDown{
    box-sizing: border-box;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 1.2vh;
    border-radius: 15px;
    background-color: white;

    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
}
.MapGroupDropDown:focus {
    outline: 0;
}
@media (hover: hover) {
    .MapGroupDropDown:hover{
        cursor: pointer;
        border-color: var(--NanoX-appcolor);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    }
}

.DivElevationBox{
    width: 39vw;
    height: 22vh;
    position: fixed;
    z-index: 998; 
    left: 1vh; 
    bottom: 1vh; 
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow:hidden;
    padding: 1vh;
}

.DivBoxTracks{
    width: 35vw;
    max-width: 300px;
    height: 66vh;
    position: fixed;
    z-index: 998; 
    left: -30vw; 
    top: 15vh; 
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    overflow-y:auto;
    
    -moz-transition: left 1s ease-in-out; 
    -webkit-transition: left 1s ease-in-out;  
    -ms-transition: left 1s ease-in-out;  
    -o-transition: left 1s ease-in-out;  
    transition: left 1s ease-in-out;
}
.DivBoxTracksShow{
    left: 1%; 
}

.DivBoxTrackInfo{
    width: 90%;
    margin: 1vh auto;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid white;
    padding: 1%;
    box-sizing: border-box;
}

.DivBoxDistance{
    width: 20rem;
    max-width: 70% ;
    height: 5rem;
    position: fixed;
    z-index: 998; 
    bottom: 1rem; 
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    overflow-y:auto;
    left: 50%;
    transform: translate(-50%, 0%);
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    align-items: center;
}

.ButtonInfoBoxNav{
    outline: none;
    padding: 0px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    margin: 0%;
}
@media (hover: hover) {
    .ButtonInfoBoxNav:hover{
        border-color: white;
    }
}

.ButtonInfoBoxNavRight{
    outline: none;
    padding: 0px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    margin-left: auto;
}
@media (hover: hover) {
    .ButtonInfoBoxNavRight:hover{
        border-color: white;
    }
}

.ButtonTrackInfoBoxLeft{
    outline: none;
    padding: 0px;
    cursor: pointer;
    border: 0px solid transparent;
    background-color: transparent;
    color: white;
    top: 0.5vh;
    left: 2vh;
    position: absolute;
    margin: 0%;
}

.ButtonTrackInfoBoxRight{
    outline: none;
    padding: 0px;
    cursor: pointer;
    border: 0px solid transparent;
    background-color: transparent;
    color: white;
    top: 0.5vh;
    right: 2vh;
    position: absolute;
    margin: 0%;
}

.DivInfoBox{
    display: -webkit-flex; 
    display: flex; 
    flex-direction: column; 
    justify-content:center; 
    align-content:center; 
    align-items: center; 
    position: fixed;
    z-index: 998; 
    left: 1vh; 
    top: 1vh; 
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    overflow:hidden;
    white-space: nowrap;
    padding: 1vh 2vh;
}

/* ButtonInfoBox */
.ButtonInfoBox{
    margin: 1vh 0vh;
    padding: 1vh;
    min-width: 10vh;
    cursor: pointer;
    border: 1px solid var(--NanoX-appcolor);
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
    color: rgb(44,1,21);
    background: white;
    outline: none;
}
@media (hover: hover) {
    .ButtonInfoBox:hover:enabled{
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    }
}
.ButtonInfoBox:disabled,
.ButtonInfoBox[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.MarkerPopupContent{
    display: -webkit-flex; 
    display: flex; 
    flex-direction: row; 
    justify-content:center; 
    align-content:center; 
    align-items: center; 
    box-sizing: border-box; 
}

.TrackPopupContent{
    display: -webkit-flex; 
    display: flex; 
    flex-direction: column; 
    justify-content:center; 
    align-content:center; 
    align-items: center; 
    box-sizing: border-box; 
}

.leaflet-popup-content {
    margin: 20px 10px 10px 10px;
    min-width: 80px;
}

/* ButtonPopup */
.ButtonPopup{
    cursor: pointer;
    margin: auto 2%;
    padding: 4% 0%;
    border: 1px solid var(--NanoX-appcolor);
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    color: rgb(44,1,21);
    background: white;
    outline: none;
    box-sizing: border-box; 
    min-width: 40px;
}

.mycluster {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #3498db;
    color: white;
    text-align: center;
    font-size: 20px;    
    line-height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}

.ElevationBoxChart{
    height:16vh;
    width:100%;
}

.DivTrackDataOnMap{
    position: fixed;
    z-index: 998; 
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column; 
    justify-content:space-around; 
    align-content:center; 
    text-align: center;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin-bottom: 1rem;
    width: 40rem;
    max-width: 75%;
    bottom: 0px;
    background-color: white;
    cursor: pointer;
}


@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
screen and (max-width: 700px)
{
    .AppConteneur{width: 90%;}
    .DivDropDownPays{width: 90%;}
    .InputCity{width: 90%;}
    .DivCenterTop{width: 45%; top: 0%; margin:4px;}
    .DivMapGroupDropDown{width: 45%; top: 0%; margin:4px;}
    .MapGroupDropDown{padding: 1.5vh;}
    .DivBoxTracks{width: 90%; left: -90%; max-width: 100%;}
    .DivBoxTracksShow{left: 5%;}
    .DivInfoBox{padding: 2%;}
    .ButtonInfoBox{border-radius: 40px;}
    .MarkerPopupContent{margin:auto 20%;}
    .ButtonPopup{ padding: 8% 0%;}
    .DivElevationBox{width: 78vw; height: 18vh;}
    .ElevationBoxChart{height:12vh;}
}