.TracksConteneur{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.TextBoxTitre{
    font-size: calc(var(--TexteNomrale)*1.1);
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
    color: black;
}

.ButtonIcon{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
screen and (max-width: 700px)
{
    .TracksConteneur{width: 90%;}
    .TextBoxTitre{font-size: calc(var(--TexteIphone)*1.1);}
}

@media screen and (min-width: 1200px)
{
    .TextBoxTitre{font-size: calc(var(--TexteMax)*1.1);}
}