body{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;      
    user-select: none;  
    cursor: default;
    font-family: Arial, Verdana, sans-serif;
    font-synthesis: none;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.OpenButton{
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 1rem;
    text-align: center;
    display: inline-block;
    color: blue;
    background: transparent;
    outline: none;
    font-size: 1rem;
    right: 0rem;
    top: 1.5rem;
    position: fixed;
    background-color: white;
}

.CloseButton{
    margin: 0.4rem;
    padding: 0.4rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 1rem;
    text-align: center;
    display: inline-block;
    color: black;
    background: transparent;
    outline: none;
    font-size: 1rem;
    right: 0rem;
    top: 0rem;
    position: absolute;
    background-color: white;

}

.DivApp{
    width:45rem;
    box-sizing: border-box;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 2rem;
}

.Divbleur{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column; 
    justify-content:space-around; 
    align-content:center; 
    align-items: center;
    position: fixed;
    top:0;
}

.DivBackground{
    width: 95vw;
    max-width: 1000px;
    height: 92vh;
    top:2vh;
    display: block;
    position: fixed;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    overflow-y: scroll;
}

.DivDataTrack{
    padding: 1rem;
}